*{
   font-family: "Roboto Condensed", sans-serif;
}
:root{
    --yl: rgb(204, 213, 174);
    --gr: rgb(109, 104, 117);
    --gee:rgb(171, 255, 78);
    --ly:   rgb(255, 250, 224);
    --dvi: rgb(214, 206, 147);
    --bd:#33131D;
}

.bg-yl{
    background-color: var(--yl); 
}
.bg-gr{
    background-color: var(--gr);
}
.bg-gee{
    background-color: var(--gee);
}
.bg-ly{
    background-color: var(--ly);
}
.bg-dvi{
    background-color: var(--dvi);
}
.bg-bd{
    background-color: var(--bd);
}
text-yl{
    color: var(--yl);
}
text-gr{
    color: var(--gr);
}
text-gee{
    color: var(--gee);
}
text-ly{
    color: var(--ly);
}
text-dvi{
    color: var(--dvi);
}
text-bd{
    color: var(--bd);
}


body{
    background-image: linear-gradient(rgb(152, 156, 153), rgba(19, 21, 21,0.2)), url(/public/image/img2.jpg);
    background-position: center;
}
*{
    font-family: "Oswald", sans-serif;
    
}

/* scrittura registrati  */

.height-regist{
 font-family: "Anton SC", sans-serif;  
  color: var(--yl);
  font-size: 50px; 
}



.height-custom{
 min-height: 60vh; 
  color:rgb(240, 246, 238);
  align-items: center;
  padding: 1rem 5%;
  background: rgba(19, 21, 21,0.2);
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  z-index: 1000;
      
    
}


/* navbar  scrittura. amachina*/
 a.navbar-brand{

  font-family: "Montenegrin Gothic One", monospace;
  color:var(--gr);
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgba(19, 21, 21,0.2); /* Il cursore che lampeggia */
  width: 0;
  animation: 
    digitazione 4s steps(40) forwards,
    lampeggio 0.5s step-end forwards;
}

/* Animazione per far apparire le lettere */
@keyframes digitazione {
  from { width: 0; }
  to { width: 100%; }
}

/* Animazione per il cursore lampeggiante */
@keyframes lampeggio {
  from, to { border-color: transparent; }
  50% { border-color: rgba(19, 21, 21,0.2); }
}



.navbar-custom {
  
  top: 0;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: linear-gradient( rgb(133, 108, 81), rgba(19, 21, 21,0.2));
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  z-index: 1000;
}
a.nav-link{
    color: var(--ly);
    font-family: "Anton SC", sans-serif;
    font-size: 20px;
}
.home-custom{
    color: var(--ly);
    font-family: "Anton SC", sans-serif;
    font-size: 20px
}
a.nav-link:hover{
    color: var(--gee);
    font-family: "Anton SC", sans-serif;
    font-size: 20px;
}
a.utente{
    color: var(--ly);
    font-family: "Anton SC", sans-serif;
    font-size: 20px;
}
/* fine navbar  */

/* welcome  */
.welcome{
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--vi);
    
} 
.wel-scritta{
    color:var(--gr);;
    font-family:"Montenegrin Gothic One", serif;
}
.welcome-btn{

  background-color: rgba(19,21,21,0.2);
  color: var(--gee);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
 
}
/* fine welcome  */


/* pagina login  */
/* scritta log  */
.log{
  font-family: "Anton SC", sans-serif;  
  color: var(--yl);
  font-size: 50px;
}


.log-btn{
   background-color: rgba(19,21,21,0.2);
  color: var(--yl);
  padding: 10px 20px;
  border-top: #33131D;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
/* fine scritta log  */
/* forum login */
.form-log{
    min-height: 60vh;
    color: var(--gr);
}
/* fine forum login */
/* finepagina log  */

/* index */
.index-custom{
    
    color: var(--gee);
    font-family: Anton SC, sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: rgb(240, 246, 238);
    font-family:monospace;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
/* fine index */


/* footer  */
.foot{
     background: linear-gradient( rgb(133, 108, 81), rgba(19, 21, 21,0.2));
     box-shadow: 0 2px 10px rgba(0,0,0,0.8);
     z-index: 1000; 
}



.h-75{
min-height: 75vh;
}

/* create articolo  */

.text-wavy {
      font-family:"Anton SC", sans-serif;
      color: var(--yl);  
     display: inline-block;
      position: relative;
      transition: transform 0.3s ease;
    }
    .text-wavy:hover {
      animation: wave 1s infinite;
    }
    @keyframes wave {
      0%   { transform: translateY(0); }
      25%  { transform: translateY(-5px); }
      50%  { transform: translateY(0); }
      75%  { transform: translateY(5px); }
      100% { transform: translateY(0); }
    }

    /* sezione card  */

    /* bottone dettaglio  */
    .dett-btn{
        background-color: rgba(19,21,21,0.2);
        color: var(--gee);
        padding: 10px 20px;
        border-top: #33131D;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        
    }
    /* fine bottone dettaglio  */

    /* titolo card  */
    .card-title{
        color: rgb(171, 255, 78);
        font-family: Anton SC, sans-serif;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    }
    /* fine titolo card  */
     
.card-shape{
  height: 50%;
  width: 30%;
  margin: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1) ; 
  border-radius: 12px;      
  padding: 15px;            
  background-color:  rgba(19,21,21,0.2); 
  box-shadow: 0 4px 6px rgba(171, 255, 78, 0.5);


    }

    /* bottone revisore */
    a.rev-btn {
        height: 50px;
        width: 60px;
        background-color: rgba(19,21,21,0.2);
        color: var(--yl);
        align-items: center;
        text-align: center;
        padding: 10px 20px;
        border-bottom: 2px dashed red;
        border-radius: 5px;
        font-size: 9px;
        text-decoration: none;
        cursor: pointer;
        
    }
     /* index.php  */

    .scritta-rev{
       height: 120%;
       width: 100%;
       font-family: "Montenegrin Gothic One", serif;
        background-color: rgba(19,21,21,0.2);
        color: var(--yl);
        align-items: center;
        text-align: center;
        padding: 10px 20px;
        border-bottom: 2px dashed red;
        border-radius: 5px;
        font-size: 30px;
        text-decoration: none;

    }

    /* //scritta footer revisore// */
    .canI{
        color: var(--yl);

    }

    .canI-btn{
        background-color: rgba(19,21,21,0.2);
        color: var(--gee);
        text-decoration: none;
        font-weight: bolder;
        font-family: "Oswald", sans-serif;
        padding: 10px 20px;
        border: 2px dashed var(--gee);
        border-radius: 5px;
        font-size: 16px;
    }

    /* search  */

    .form-control{
        height: 80%;
        width: 70%;
       background-color: var(--yl);
        
    }

    #basic-addon2{
        height: 80%;
        width: 40%;
        background-color: rgba(19,21,21,0.2); ;
        color: var(--gee);
    }
   /* fine search */

   .img-preview{
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
   }
